@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Blog düzenleme sayfası</h1>
{
@using(Html.BeginForm("EditBlog", "BlogController1", FormMethod.Post))
{
    
        @Html.Label("BlogID")
        @Html.TextBoxFor(x=>x.BlogID,new{@class="form-control"})
        <br />
        @Html.Label("BlogBaşlığı")
        @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
        <br />

        @Html.Label("Blog Görseli")
        @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
        <br />
        @Html.Label("Blog Thumbnail")
        @Html.TextBoxFor(x => x.BlogThumbnailImage, new { @class = "form-control" })
        <br />
        @Html.Label("Kategori")
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.cv, new { @class = "form-control" })
    
        @Html.Label("Blog İçeriği")
        @Html.TextAreaFor(x => x.BlogContent, 15, 3, new { @class = "form-control" })

        <br />
    @Html.HiddenFor(x => x.BlogID)
    @Html.HiddenFor(x => x.BlogStatus)
    @Html.HiddenFor(x => x.WriterID)
    @Html.HiddenFor(x => x.BlogCreateDate)

    
        <button class="btn btn-success">Güncelle</button>
    }

